.ul1{
    font-size: 14px;
    list-style-type:none

}
.li1{
    float:right;
    width:80px;
    opacity: 0.4;
}
#title1{
    opacity: 0.6;

}
#title2{
    font-size: 30px;
    opacity: 0.6;


}
#title3{
    font-size: 18px;
    font-weight: 900;
    opacity: 0.6;

}
.content{
    font-size: 14px;
    opacity: 0.6;
    line-height: 1.5;
    word-break: break-all;

}
.content1{
    font-size: 10px;
    color: gray;
    line-height: 2
}
.text-con{
    width: 25%;
}

@media screen and (max-width:768px){
    #container{
        flex-direction: column;
    }
    .text-con{
        width: 100%;
    }
}